# Source: https://github.com/github/gitignore/blob/master/R.gitignore
# History files
.RData
.Rhistory
.Rapp.history

# Package build process
*-Ex.R
data.table_*.tar.gz
data.table.Rcheck

# RStudio files
.Rproj.user
data.table.Rproj

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# object and shared objects
*.o
*.so

*~
.DS_Store
.idea
