#https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @mattdowle
/R/fmelt.R @tdhock
/src/fmelt.c @tdhock
/man/melt.data.table.Rd @tdhock
/R/froll.R @jangorecki
/man/froll.Rd @jangorecki
/src/froll.c @jangorecki
/src/frollR.c @jangorecki
/src/frolladaptive.c @jangorecki
/R/programming.R @jangorecki
/man/substitute2.Rd @jangorecki
/src/programming.c @jangorecki
/vignettes/datatable-programming.Rmd @jangorecki
