# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @michaelchirico

# reshaping
/R/fcast.R @tdhock
/R/fmelt.R @tdhock
/src/fcast.c @tdhock
/src/fmelt.c @tdhock
/man/dcast.data.table.Rd @tdhock
/man/melt.data.table.Rd @tdhock
/vignettes/datatable-reshape.Rmd @tdhock

# rolling statistics
/R/froll.R @jangorecki
/man/froll.Rd @jangorecki
/src/froll.c @jangorecki
/src/frollR.c @jangorecki
/src/frolladaptive.c @jangorecki

# meta-programming
/R/programming.R @jangorecki
/man/substitute2.Rd @jangorecki
/src/programming.c @jangorecki
/vignettes/datatable-programming.Rmd @jangorecki

# roll-up & setops
/R/groupingsets.R @jangorecki
/R/setops.R @jangorecki

# GForce groupby
/src/gsumm.c @ben-schwen
# datetime classes
/R/IDateTime.R @ben-schwen @michaelchirico
/src/idatetime.c @ben-schwen @michaelchirico
/man/IDateTime.Rd @ben-schwen @michaelchirico

# shift
/R/shift.R @ben-schwen @michaelchirico
/src/shift.c @ben-schwen @michaelchirico
/man/shift.Rd @ben-schwen @michaelchirico

# rbind
/src/rbindlist.c @ben-schwen
/man/rbindlist.Rd @ben-schwen

# translations
/inst/po/ @michaelchirico
/po/ @michaelchirico
/R/translation.R @michaelchirico
/src/po.h @michaelchirico
/po/*.pot @Rdatatable/translators
/po/*es.po @Rdatatable/spanish
/po/*fr.po @Rdatatable/french
/po/*pt_BR.po @Rdatatable/brazil
/po/*ru.po @Rdatatable/russian
/po/*zh_CN.po @Rdatatable/chinese
/vignettes/fr/*.Rmd @Rdatatable/french
/vignettes/ru/*.Rmd @Rdatatable/russian

# printing
/R/print.data.table.R @michaelchirico

# .SD vignette
/vignettes/datatable-sd-usage.Rmd @michaelchirico

# assign
/src/assign.c @HughParsonage

# utils
/src/utils.c @HughParsonage

# performance testing
/.ci/atime/tests.R @tdhock @Anirban166
/.github/workflows/performance-tests.yaml @Anirban166

# docs
/man/openmp-utils.Rd @Anirban166
/Seal_of_Approval.md @tdhock
/GOVERNANCE.md: @Rdatatable/committers

# GLCI
.gitlab-ci.yml @jangorecki @ben-schwen

# C code tricks
/src/chmatch.c @aitap
/src/fread.c @aitap
