useDynLib(data.table)

export(data.table, tables, setkey, key, "key<-", J, CJ, SJ)
export(as.data.table,is.data.table,test.data.table,last,like,"%like%",between,"%between%")
export(timetaken)

S3method("[", data.table)
S3method(print, data.table)
S3method(as.data.table, data.table)
S3method(as.data.table, data.frame)
S3method(as.data.table, matrix)
S3method(as.data.frame, data.table)
S3method(as.matrix, data.table)
S3method(cbind, data.table)
S3method(rbind, data.table)
S3method(dim, data.table)
S3method(dimnames, data.table)
S3method("dimnames<-", data.table)
S3method("$<-", data.table)
S3method("[<-", data.table)
S3method(duplicated, data.table)
S3method(unique, data.table)
S3method(merge, data.table)
S3method(transform, data.table)
S3method(within, data.table)
S3method(subset, data.table)
S3method(t, data.table)
S3method(is.na, data.table)
S3method(format, data.table)
S3method(Ops, data.table)

import(utils)
S3method(tail, data.table)
S3method(head, data.table)
import(stats)
S3method(na.omit, data.table)

# [.factor
# c.factor
# duplist
# getdots
# NCOL
# NROW
# sortedmatch
# take
# trim
# which.first
# which.last

